<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretivas</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="nome" v-bind:style="estilo" v-on:change="alterei">
        <textarea v-model="nome2">

        </textarea>
            {{ nome2 }} {{ nome }}
        <div id="div_ola" v-if="mostrar_div" v-html="msg">
            Olá mundo.
        </div>
        <button type="button" v-on:click="mostrar" v-if="!mostrar_div" />Mostar</button>
        <button type="button" v-on:click="esconder" v-if="mostrar_div" />Esconder</button>

        <ul>
            <li v-for="(item, index) in lista" :key="index">
                {{ item.nome }}
                <input type="text" v-model="item.nome">
            </li>
        </ul>
        <select v-model="nome_selecionado">
            <option v-for="(item, index) in lista" :key="index" :value="item.nome">{{item.nome}}</option>
        </select>
        O nome selecionado foi: {{nome_selecionado}} - e alteremos {{qtde}} vezes.
        <br><br>
        <h4>CEP</h4>
        <input type="text" v-model="cep" v-on:change="consulta_cep" maxlength="8">
        <div v-if="cep_data != null && cep_data.logradouro != null">
            Logradouro: {{cep_data.logradouro}}
            <table>
                <tr v-for="(item, index) in cep_keys">
                    <td>
                        {{itme}}
                    </td>
                    <td>
                        {{cep_data[item]}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({el: "#app",
            data: {
                mostrar_div: true,
                nome: "Luiz",
                nome2: "Televisor",
                lista: [
                    { nome: "Nome 01"},
                    { nome: "Nome 02"},
                    { nome: "Nome 03"},
                ],
                qtde: 0,
                cep: "",
                cep_data: null,
                cep_keys: [],
                nome_selecionado: "",
                estilo: "background-color: red",
                msg: "Olá mundo - teste teste.",
            },
            methods: {
                mostrar(){
                    this.mostrar_div = true;
                },
                esconder(){
                    this.mostrar_div = false;
                },
                alterei(event){
                    //alert("Eu alterei o valor!");
                    console.log("valor?", event.target.value);
                    console.log("evento?", event);
                },
                consulta_cep() {
                    var self = this;
                    // Faz uma requisição a um usuarío com um ID expecifico
                    axios.get('https://viacep.com.br/ws/'+this.cep+'/json/')
                    .then(function (response) {
                        // manipula o sucesso da requisição
                        self.cep_data = response.data;
                        self.cep_keys = Object.keys(self.cep_data)
                        //console.log(response);
                    })
                    .catch(function (error) {
                        // manipula erros da requisição
                        //console.error(error);
                    })
                    .then(function () {
                        // sempre será executado
                    });
                }
            },
            watch: {
                nome_selecionado: function(){
                    this.qtde++;
                }
            },
            computed: {
                mostra_valor: function(){
                    if (this.qtde > 0) {
                        return true;
                    }
                    return false;
                }
            },
            created() {
                console.log("eu montei o componente");
            },
            mounted() {
                console.log("eu montei o componente");
            }

        });
    </script>
</body>
</html>